Nimbus - Nethermind WebSocket connection fails

**Describe the bug**
Unable to connect Nimbus Eth2 Client with Nethermind using the WebSockets connection. Works with Geth client.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Nethermind with the following flags: 
```
--Init.WebSocketsEnabled true --JsonRpc.Enabled true --JsonRpc.Host 0.0.0.0
```
2. Download and unpack [nimbus](https://github.com/status-im/nimbus-eth2/releases) 
3. Test with `./build/nimbus_beacon_node web3 test ws://localhost:8545`

**Expected behavior**
Expected output from the test command: 
```
Network: 1
Latest block: 12875484
Deposit root: 0xc56c58848cc548c9afdf4c8658d8105a51249f952e1866de66747c05e8de7098
```
**Actual behaviour**
```
FAT 2021-07-22 09:59:01.641+00:00 Failed to connect to web3 provider         topics="eth1" tid=397493 file=eth1_monitor.nim:1171 err="WebSocket connection error: 200 OK"
```

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version 21.04


@dceleda ? seems like something that you have just been looking at

It's a little bit complicated ...
So the first request is always a handshake containing the information about an intent to use WebSockets.
Our code uses the [_IsWebSocketRequest_ ](https://github.com/aspnet/WebSockets/blob/cff748cad3c8087649e82aa2420ad2347d40404e/src/Microsoft.AspNetCore.WebSockets/WebSocketMiddleware.cs#L64-L82)property to check if we can switch to websocket communication.
This property has to be TRUE and to get that value following conditions have to be met:
- it has to be GET
- IsUpgradableRequest == true (it's ok, it's true)
- Following headers have to present: 
Connection: Upgrade
Upgrade: websocket
**Sec-WebSocket-Key: MDAwMDAwMDA1OWQx** 
Sec-WebSocket-Version: 13

The websockets protocol (https://datatracker.ietf.org/doc/html/rfc6455) states that:
_The request MUST include a header field with the name
        |Sec-WebSocket-Key|.  The value of this header field MUST be a
        nonce consisting of a randomly selected **16-byte** value that has
        been base64-encoded (see Section 4 of [RFC4648]).  The nonce
        MUST be selected randomly for each connection._

The key sent by nimbus is only 12 bytes long.

Maybe as a workaround we could ignore the _IsWebSocketRequest_ property and check the rest by ourself (headers etc.) and allow different key lengths. Although it doesn't sounds to be the right thing to do.

Fixed on Nimbus side